#warningbanner-wrapper {
    top:0;
    bottom:auto;
    left:0;
    position:fixed;
    margin:0;
    padding:0;
    text-align:center;
    background:transparent;
    width:100%;
    height:50px;
    border-radius:0;
    z-index:2147483643;
}

#warningbanner {
    margin:0 auto;
    border-radius:15px;
    top:0;
    background-color:#e00408;
    opacity:1;
    padding:10px 0;
    width:100%;
    z-index:2147483645;
}

#warningbanner-text {
    margin:0;
    padding:0 20px;
    font-size:20px;
    font-weight:bold;
    display:block;
    color:white;
    z-index:2147483647;
}
#warningbanner-close {
    font:18px/150% arial, sans-serif;
    position:absolute;
    right:15px;
    text-decoration:none;
    top:12px;
    color:white;
    cursor:pointer;
    z-index:2147483647;
}

#warningbanner-close:after {
    content:'I TRUST THIS SITE';
}

#box {
    top:0;
    bottom:auto;
    left:0;
    position:fixed;
    margin:0;
    padding:0;
    text-align:center;
    opacity:0.5;
    width:100%;
    height:100%;
    z-index:2147483643;
    background-color:black;
}

#icon48 {
    position:auto;
    margin:0;
    padding:0;
    text-align:center;
    z-index:2147483647;
}
